body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background image linked from Vecteezy.com */
    background-image: url("./assets/vecteezy_abstract-blue-background-simple-design-for-your-website_6852804.jpg"); /* Replace "path/to/your/image.jpg" with the actual path to your background image */
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #232f3e;
    color: #fff;
    padding: 20px;
    width: 100%;
  }
  
  header h1 {
    font-size: 36px;
    margin: 0;
  }
  
  header p {
    font-size: 18px;
    margin-top: 10px;
  }
  
  nav {
    background-color: #232f3e;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  nav ul li a:hover {
    background-color: #37475a;
  }
  
  .main-content {
    padding: 40px;
    text-align: center;
  }
  
  .main-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .main-content p {
    font-size: 18px;
    line-height: 1.6;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

  .white-text {
    color: white
 }
  
  .btn {
    padding: 12px 24px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  section {
    width: 100%;
    text-align: center;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

  #custom-substack-embed {
    /* Add more styling properties here if needed */
    margin-top: 20px; /* Optional: Add some top margin for spacing */
  }
  
  .container {
    padding: 40px;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #232f3e;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  